<style>
    .dashboard-header {
        display: flex;
        width: 100%;
    }

        .dashboard-header .umb-drawer-header {
            flex-grow: 1;
        }

        .dashboard-header .dashboard-header__button {
            padding: 20px 30px 20px 0;
            display: flex;
            align-items: center;
        }

    .box-overlay {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        backdrop-filter: blur(6px);
    }

    .box-overlay__build {
        background: rgba(20, 240, 20, 0.3);
    }

    .box-overlay__deploy {
        background: rgba(240, 20, 20, 0.3);
    }

    .box-overlay__content {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .box-overlay__content div{
        padding:20px;
    }

    .lighter-text{
        color: #666;
    }

    .padding-bottom{
        padding-bottom:20px;
    }
</style>


<div data-ng-controller="xStaticConfigDashboardController as vm">

    <umb-overlay ng-if="overlay.show"
                 model="overlay"
                 view="overlay.view"
                 position="right">
    </umb-overlay>

    <umb-drawer-view>

        <div class="dashboard-header">
            <umb-drawer-header title="Manage xStatic Config"
                               description="This dashboard can be used view and manage the xStatic configuration.">
                <umb-badge color="success"><a href="{{createLink}}">Create Export Type</a></umb-badge>
            </umb-drawer-header>

            <div class="dashboard-header__button">
                <umb-button type="link"
                            action="vm.open()"
                            button-style="success"
                            label="Create Export Type">
                </umb-button>
            </div>
        </div>

        <umb-drawer-content>

            <div class="padding-bottom">
                <div class="umb-drawer-header__title">Export Types</div>
                <div class="umb-drawer-header__subtitle ng-binding">Export types define what technical components will be used in the generation process (e.g. the generator and transformer list); these can then be assigned to site configurations.</div>
            </div>
            
            <h4 data-ng-show="vm.config.ExportTypes.length == 0">You currently don't have any Export Types!</h4>
            <h6 data-ng-show="vm.config.ExportTypes.length == 0">You can create sites using the "Create Export Type" button.</h6>

            <div class="sites-grid">
                <umb-box data-ng-repeat="exportType in vm.config.ExportTypes" style="position: relative;">
                    <umb-box-header title="{{exportType.Name}}">
                        <umb-button type="button"
                                    action="vm.delete(exportType.Id)"
                                    button-style="danger"
                                    icon="icon-trash"
                                    size="s">
                        </umb-button>
                        <umb-button type="button"
                                    action="vm.open(exportType)"
                                    label="Edit"
                                    icon="icon-brush">
                        </umb-button>

                    </umb-box-header>

                    <umb-box-content class="box-with-footer">
                        <div class="umb-panel-group__details-check box-inner">

                            <div class="umb-panel-group__details-status" style="border:none;">

                                <div class="umb-panel-group__details-status-icon-container">
                                    <i class="umb-panel-status-icon icon-rate" aria-hidden="true"></i>
                                </div>

                                <div class="umb-panel-group__details-status-content">
                                    <div class="umb-panel-group__details-status-text">
                                        {{exportType.Id}}
                                    </div>
                                </div>
                            </div>

                            <div class="umb-panel-group__details-status">

                                <div class="umb-panel-group__details-status-icon-container">
                                    <i class="umb-panel-status-icon icon-untitled" aria-hidden="true"></i>
                                </div>

                                <div class="umb-panel-group__details-status-content">
                                    <div class="umb-panel-group__details-status-text">
                                        {{exportType.Generator.Name}}
                                    </div>
                                </div>
                            </div>

                            <div class="umb-panel-group__details-status">

                                <div class="umb-panel-group__details-status-icon-container">
                                    <i class="umb-panel-status-icon icon-brackets" aria-hidden="true"></i>
                                </div>

                                <div class="umb-panel-group__details-status-content">
                                    <div class="umb-panel-group__details-status-text">
                                        {{exportType.TransformerFactory.Name}}
                                    </div>
                                </div>
                            </div>

                            <div class="umb-panel-group__details-status">

                                <div class="umb-panel-group__details-status-icon-container">
                                    <i class="umb-panel-status-icon icon-notepad-alt" aria-hidden="true"></i>
                                </div>

                                <div class="umb-panel-group__details-status-content">
                                    <div class="umb-panel-group__details-status-text">
                                        {{exportType.FileNameGenerator.Name}}
                                    </div>
                                </div>
                            </div>

                        </div>

                        

                    </umb-box-content>
                </umb-box>
            </div>

            <h3 class="umb-drawer-header__title">Installed components</h3>

            <div class="sites-grid">
                <umb-box style="position: relative;">
                    <umb-box-header title="Installed Generators">
                    </umb-box-header>

                    <umb-box-content class="box-with-footer">
                        <div class="umb-panel-group__details-check box-inner">
                            <div class="umb-panel-group__details-check-title x-text-center x-padding-top-small">
                                <div class="">Generators are the components that create the HTML/JSON version of the pages of the website pages.</div>
                            </div>

                            <div class="umb-panel-group__details-status" data-ng-repeat="gen in vm.config.Generators">

                                <div class="umb-panel-group__details-status-icon-container">
                                    <i class="umb-panel-status-icon icon-untitled" aria-hidden="true"></i>
                                </div>

                                <div class="umb-panel-group__details-status-content">
                                    <div class="umb-panel-group__details-status-text">
                                        {{gen.Name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </umb-box-content>
                </umb-box>

                <umb-box style="position: relative;">
                    <umb-box-header title="Installed Transformer List Factories">
                    </umb-box-header>

                    <umb-box-content class="box-with-footer">
                        <div class="umb-panel-group__details-check box-inner">
                            <div class="umb-panel-group__details-check-title x-text-center x-padding-top-small">
                                <div class="">A transformer changes the exported static data, for example changing URLs. These factories define which transformers are run and in which order.</div>
                            </div>

                            <div class="umb-panel-group__details-status" data-ng-repeat="factory in vm.config.TransformerFactories">

                                <div class="umb-panel-group__details-status-icon-container">
                                    <i class="umb-panel-status-icon icon-brackets" aria-hidden="true"></i>
                                </div>

                                <div class="umb-panel-group__details-status-content">
                                    <div class="umb-panel-group__details-status-text">
                                        {{factory.Name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </umb-box-content>
                </umb-box>

                <umb-box style="position: relative;">
                    <umb-box-header title="Installed Deployers">
                    </umb-box-header>

                    <umb-box-content class="box-with-footer">
                        <div class="umb-panel-group__details-check box-inner">
                            <div class="umb-panel-group__details-check-title x-text-center x-padding-top-small">
                                <div class="">A deployer is the component that pushes the generated site to a remote service e.g. Netlify.</div>
                            </div>

                            <div class="umb-panel-group__details-status" data-ng-repeat="deployer in vm.config.Deployers">

                                <div class="umb-panel-group__details-status-icon-container">
                                    <i class="umb-panel-status-icon icon-umb-deploy" aria-hidden="true"></i>
                                </div>

                                <div class="umb-panel-group__details-status-content">
                                    <div class="umb-panel-group__details-status-text">
                                        {{deployer.Name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </umb-box-content>
                </umb-box>

                <umb-box style="position: relative;">
                    <umb-box-header title="Installed File Name Generators">
                    </umb-box-header>

                    <umb-box-content class="box-with-footer">
                        <div class="umb-panel-group__details-check box-inner">
                            <div class="umb-panel-group__details-check-title x-text-center x-padding-top-small">
                                <div class="">A file name generator is a component that creates the file names for each statically generated page.</div>
                            </div>

                            <div class="umb-panel-group__details-status" data-ng-repeat="generator in vm.config.FileNameGenerators">

                                <div class="umb-panel-group__details-status-icon-container">
                                    <i class="umb-panel-status-icon icon-notepad-alt" aria-hidden="true"></i>
                                </div>

                                <div class="umb-panel-group__details-status-content">
                                    <div class="umb-panel-group__details-status-text">
                                        {{generator.Name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </umb-box-content>
                </umb-box>
            </div>

        </umb-drawer-content>
        <umb-drawer-footer>
        </umb-drawer-footer>

    </umb-drawer-view>


</div>