﻿<form name="objectForm"
       ng-controller="xStaticFormController as vm"
       ng-submit="vm.save()"
       class="">
    <umb-editor-view>

            <umb-editor-header name="vm.form.site.Name"
                               name-locked="false"
                               hide-icon="true"
                               hide-description="true"
                               hide-alias="true"
                               navigation="type.apps">
            </umb-editor-header>

            <umb-editor-container>
                <umb-box>
                    <umb-box-header title="Build"></umb-box-header>
                    <umb-box-content>
                        <div class="umb-property">
                            <umb-control-group label="Root Node" description="Select the root of the site you want to create a static version of.">
                                <input type="text" name="RootNode" maxlength="255" ng-model="vm.form.site.RootNode" class="umb-textstring textstring input-block-level" required />
                            </umb-control-group>
                        </div>
                        <div class="umb-property">
                            <umb-control-group label="Root Media Nodes" description="Select the media folders you want to include in your static site.">
                                <input type="text" name="MediaRootNodes" maxlength="255" ng-model="vm.form.site.MediaRootNodes" class="umb-textstring textstring input-block-level" />
                            </umb-control-group>
                        </div>
                        <div class="umb-property">
                            <umb-control-group label="Export Format" description="Do you want to export this site as a JSON API or as a static HTML website.">
                                <select ng-model="vm.form.site.ExportFormat"
                                        ng-options='type.Id as (type.Name) for type in vm.config.ExportTypes'>
                                    <option value="">---Please select---</option>
                                </select>
                            </umb-control-group>
                        </div>
                        <div class="umb-property">
                            <umb-control-group label="Asset Paths" description="Add folder names of files on disk that should also be packaged up. Comma separate e.g. /assets/js,/assets/css">
                                <input type="text" name="AssetPaths" maxlength="255" ng-model="vm.form.site.AssetPaths" class="umb-textstring textstring input-block-level" />
                            </umb-control-group>
                        </div>
                        <div class="umb-property">
                            <umb-control-group label="Media Crops" description="Comma delimit the image crops you want to generate in the format {width}x{height}. E.g. 1600x900,800x450,320x0">
                                <input type="text" name="ImageCrops" maxlength="255" ng-model="vm.form.site.ImageCrops" class="umb-textstring textstring input-block-level" />
                            </umb-control-group>
                        </div>
                    </umb-box-content>
                </umb-box>

                <umb-box>
                    <umb-box-header title="Deploy"></umb-box-header>
                    <umb-box-content>
                        <div class="umb-property">
                            <umb-control-group label="Auto Publish" description="Select this is you want to generate and deploy the static site automatically when a node is published.">
                                <input type="checkbox" name="AutoPublish" ng-model="vm.form.site.AutoPublish">
                            </umb-control-group>
                        </div>
                        <div class="umb-property">
                            <umb-control-group label="Deployment Target" description="Configure your deployment target by filling in all required settings.">

                                <select ng-model="vm.form.site.DeploymentTarget"
                                        ng-options='type as (type.Name) for type in vm.config.Deployers track by type.Name'>
                                    <option value="">---Please select---</option>
                                </select><br>

                                <ng-form name="contentPickerForm">

                                    <div class="deployment-target__help" data-ng-show="property.value.help">
                                        <p ng-bind-html="vm.form.site.DeploymentTarget.help"></p>
                                    </div>

                                    <div ng-repeat="(key, value)  in vm.form.site.DeploymentTarget.Fields" class="deployment-target__row">
                                        <label class="deployment-target__label">{{key}}</label>
                                        <input ng-if="getInputType(key) == 'password'" type="password" class="umb-property-editor" ng-model="vm.form.site.DeploymentTarget.Fields[key]" />
                                        <input ng-if="getInputType(key) == 'text'" type="text" class="umb-property-editor" ng-model="vm.form.site.DeploymentTarget.Fields[key]" />
                                    </div>

                                </ng-form>
                            </umb-control-group>
                        </div>
                        <div class="umb-property">
                            <umb-control-group label="Target Hostname" description="The site hostname you've configured for viewing the site locally will be replaced with this value.">
                                <input type="text" name="TargetHostname" maxlength="255" ng-model="vm.form.site.TargetHostname" class="umb-textstring textstring input-block-level" />
                            </umb-control-group>
                        </div>
                    </umb-box-content>
                </umb-box>

                <umb-box ng-show="vm.form.site.Id">
                    <umb-box-header title="Statistics"></umb-box-header>
                    <umb-box-content>
                        <div class="umb-property">
                            <umb-control-group label="ID" description="">
                                {{vm.form.site.Id}}
                            </umb-control-group>
                        </div>
                        <div class="umb-property">
                            <umb-control-group label="Last Build" description="">
                                {{vm.form.site.LastRunString}}
                            </umb-control-group>
                        </div>
                        <div class="umb-property">
                            <umb-control-group label="Last Build Duration" description="">
                                <span ng-show="vm.form.site.LastBuildDurationInSeconds">{{vm.form.site.LastBuildDurationInSeconds}} seconds</span>
                            </umb-control-group>
                        </div>
                        <div class="umb-property">
                            <umb-control-group label="Last Deployed" description="">
                                {{vm.form.site.LastDeployedString}}
                            </umb-control-group>
                        </div>
                        <div class="umb-property">
                            <umb-control-group label="Last Deploy Duration" description="">
                                <span ng-show="vm.form.site.LastDeployDurationInSeconds">{{vm.form.site.LastDeployDurationInSeconds}} seconds</span>
                            </umb-control-group>
                        </div>
                    </umb-box-content>
                </umb-box>
            </umb-editor-container>

        <umb-editor-footer>
            <umb-editor-footer-content-right>
                <umb-button type="button"
                            button-style="link"
                            label-key="general_close"
                            shortcut="esc"
                            action="vm.close()">
                </umb-button>
                <umb-button type="button"
                            button-style="action"
                            label-key="general_submit"
                            action="vm.submit(model)">
                </umb-button>
            </umb-editor-footer-content-right>
        </umb-editor-footer>
    </umb-editor-view>
</form>