<div ng-controller="xStaticDeploymentTargetController">
    <select ng-model="model.value"
            ng-options='type as (type.Name) for type in deploymentTypes track by type.Name'>
        <option value="">---Please select---</option>
    </select><br>

    <ng-form name="contentPickerForm">

        <div class="deployment-target__help" data-ng-show="property.value.help">
            <p ng-bind-html="model.value.Help"></p>
        </div>
        
        <div ng-repeat="(key, value) in model.value.Fields" class="deployment-target__row">
            <label class="deployment-target__label">{{key}}</label>
            <input ng-if="getInputType(key) == 'password'" type="password" class="umb-property-editor" ng-model="model.value.Fields[key]" />
            <input ng-if="getInputType(key) == 'text'" type="text" class="umb-property-editor" ng-model="model.value.Fields[key]" />
        </div>

    </ng-form>
</div>